*{
    font-family: toppan-bunkyu-mincho-pr6n, serif;
    color: #444;
    margin: 0;
    padding: 0;
    z-index: 5;
}
html{
    height: 100%;
}
body{
    background-color: #FFFEF8;
    min-height: 100%;
}
.header_img{
    position: absolute;
}
header{
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    height: 50vh;
}
.maintitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.maintitle img{
    width: 10vw;
    height: auto;
    
}
.maintitle h1{
    font-size: 2.5vw;
    font-family: kan415typos-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul.header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 30vw;
}
ul.header-menu li{
    text-align: center;
}
ul.header-menu a{
    font-family: kan415typos-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #444;
}
ul.header-menu a::after{
    position: absolute;
    bottom: 4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #444;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}
ul.header-menu a:hover::after{
    transform: scale(1, 1);
}
.body_title{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5em;
}
.left-title{
    font-size: 1.7vw;
    width: calc(100vw/3);
    line-height: 2.5em;
    margin-left: 5em;
    margin-right: -5em;
}
.middle-title{
    width: calc(100vw/3);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.middle-title h3{
    font-size: 2vw;
}
.line{
    border: 1px solid #707070;
    background-color: #707070;
    width: 0.5px;
    height: 8em;
}
.right-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: calc(100vw/3);
    height: auto;
    margin-right: 2em;
}
.right-title a{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid;
    justify-content: center;
    text-align: center;
    margin-right: 0;
}
.right-title i{
    margin-top: 0.3em;
}
a.my-example{
    transition: .5s;
}
.my-example:hover{
    color: #707070;
    transition: .5s
}

.circle1{
    position: absolute;
    top: 80vw;
    width: 10vw;
    height: 40vh;
    border-radius: 0 100% 100% 0% / 50%;
    border:1px solid #FFF3DB;
    background-color: #FFF3DB;
    z-index: 5;
    display: block;
    margin: 0em 0 auto 0;
}
.circle2{
    position: absolute;
    margin-top: -10em;
    width: 18vw;
    height: 60vh;
    border-radius: 0 100% 100% 0% / 50%;
    border:1px solid #FFEDDB;
    background-color: #FFEDDB;
    display: block;
    margin:0em 0 auto 0;
    z-index: 1;
}
.circle3{
    display: block;
    margin: 0em 0 0 auto;
    width: 18vw;
    height: 64vh;
    border-radius: 100% 0% 0% 100% / 50%;
    border:1px solid #FFDBDB;
    background-color: #FFDBDB;
    z-index: 1;
}
.circle4{
    margin-top: 30em;
    margin: 0em 0 0 auto;
    width: 10vw;
    height: 19vh;
    border-radius: 50%;
    border:1px solid #FFDBEA;
    background-color: #FFDBEA;
    z-index: 1;
}
.circle5{
    display: block;
    position: absolute;
    margin: 0em 0 0 auto;
    width: 18vw;
    height: 64vh;
    border-radius: 0% 100% 100% 0%/ 50%;
    border:1px solid #FFDBDB;
    background-color: #FFDBDB;
    z-index: 1;
}
.circle6{
    display: block;
    position: absolute;
    margin-top: -5em;
    margin-left: 0;
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    border:1px solid #FFDBDB;
    background-color: #FFDBDB;
}
.About{
    text-align: center;
    width: calc(100vw/5);
    font-size: 1.8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7em;
    margin: 0 auto;
}
.About h1{
    font-size: 3.4vw;
}
.About h2{
    font-family: toppan-bunkyu-gothic-pr6n, serif;
    font-weight: 600;
    font-style: normal;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 2.5vw;
}
.About h1,.About h2{
    position: relative;
    right: 40%;
    left: -35%;
}

span.grad-trigger{
    font-family: toppan-bunkyu-mincho-pr6n, serif;
}
.grad-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .grad-wrap + .grad-wrap {
    margin-top: 40px;
  }
  .grad-trigger {
   text-align: center;
   margin: 0 auto;
   order: 2;
  }
.grad-trigger::after {
    content: "Open" /*クリック前のボタンのラベル*/
}
.grad-trigger .fa {
    margin-right: .5em;
}
.grad-item {
    position: relative;
    overflow: hidden;
    order: 1;
}
.grad-item.is-hide {
    height: 80px; /*隠した後の高さ*/
}
.grad-item::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 40px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #FFFEF8 50%, #FFFEF8 50%, #FFFEF8 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, #FFFEF8 50%, #FFFEF8 50%, #FFFEF8 100%);
}
.grad-trigger.is-show {
    bottom: -2em;
}
.grad-trigger.is-show::after {
    content: "Close" /*クリック後にボタンのラベルを変える*/
}
.grad-trigger.is-show + .grad-item::before {
    display: none;
}


.height{
    height: 20em;
}

.SNS{
    text-align: center;
    display: flex;
}
.SNS1{
    width: calc(100vw/3);
    height: auto;
    margin-right: 3em;
    margin-left: 3em; 
}
.twitter-timeline{
    height: 0%;
}
.SNS h3{
    font-size: 3vw;
}
.adimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
}

/* introduction_css */

header.intro_header{
    margin-bottom: 5em;
}
.bigtitle h1{
    text-align: center;
    font-size: 3.4vw;
}
.imgcircle img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.over,.middle,.down{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle{
    margin-top: -50em;
    margin-bottom: 5em;
}
.down{
    margin-top: -10em;
}
.menber{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.block{
    width: 30%;
    line-height: 2em;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7em;
}
.menber h3{
    font-size: 22px;
}
.menber p{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 15px;
    overflow-wrap: break-word;
    line-height: 1.5em;
}

.contact{
    text-align: center;
    line-height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
